/* General */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* Main layout (nav & content) */
main {
  display: flex;
  min-height: 100vh;
}

.main-content {
  padding: 1rem;
  width: 100%;
}

.navigation {
  background-color: black;
  width: 10rem;

  display: flex;
  flex-direction: column;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.nav-links li {
  color: #fff;
  padding: 1rem;
}

.logo {
  text-align: center;
}

/* Characters */

.character-table td,
.character-table th {
  padding: 1rem;
}

.character-table tr:nth-child(odd) {
  background-color: rgb(190, 190, 190);
}

.number-selector {
  margin-right: 1rem;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}

.pagination li {
  float: left;
  padding: 0.3rem;
  background-color: gray;
  border: 1px solid black;
  width: 2rem;
  text-align: center;
  background-color: #fff;
}

.pagination li a,
.character-table a {
  color: rgb(33, 179, 236);
  text-decoration: none;
}

.films {
  display: flex;
}

.card {
  background-color: rgb(33, 179, 236);
  border-radius: 10px;
  padding: 1rem;
  color: #fff;
  margin-right: 1rem;
}

.selectors {
  display: flex;
  margin-bottom: 1rem;
}

.breadcrumbs {
  margin-top: 1rem;
}
